{% extends 'music/index.html' %}

{% block title %}Music|Artist{% endblock title %}

{% block content %}

<div class = "container my-0">
    {% comment %} <div class = "cardtitle">My Recent Projects</div> {% endcomment %}
    <div class = "row">
      {% for artist in artists %}
      <div class="col-md-3 mt-5">
          <div class="card border-0" style="width: 13rem; height:15rem;">
              <img src="{{artist.image.url}}" alt="inn_logo" style = "margin:5px; border-radius:5px;"/>
              <div class="card-body">
                <h5 class="card-title text-center">{{artist.name}}</h5>
              </div>
            </div>
      </div>
      {% endfor %}

      {% comment %} <div class="col-md-4 mt-5">
        <div class="card" style="width: 18rem;">

          <img class = "rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuIfBFC3FU9DC9MEIClYYsU1XLJIglrwIiBg&usqp=CAU" alt="inn_logo" style = "margin:5px;"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="card" style="width: 18rem;">
          <img class = "rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuIfBFC3FU9DC9MEIClYYsU1XLJIglrwIiBg&usqp=CAU" alt="inn_logo" style = "margin:5px;"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5">
        <div class="card" style="width: 18rem;">
          <img class = "rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuIfBFC3FU9DC9MEIClYYsU1XLJIglrwIiBg&usqp=CAU" alt="inn_logo" style = "margin:5px;"/>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
</div>

{% endblock content %}