{% extends 'music/index.html' %}

{% block title %}Music|ArtistAlbums{% endblock title %}

{% block content %}

<div class = "container">
    <div class = "image-container mx-3 mt-4">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{artists.image.url}}" class="d-block w-100" alt="..." style = "border-radius:5px; height:400px;">
                </div>
            </div>
        </div>
    </div><br>
    <h2 class = "text-center" style = "padding-top:30px; padding-bottom:5px;"><strong>Albums</strong></h2>
    {% for album in albums %}
        <div class="card mx-3 mt-4" style="max-width: 940px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{album.album_logo.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title" style = "color:green;">Title:&nbsp;<strong>{{album.album_name}}</strong></h5>
                  <p>Genre:&nbsp;{{album.genre}}</p>
                  <p>Total songs:&nbsp;{{album.songs.count}}</p>

                  <a class="btn btn-outline-dark" href = "{{album.get_absolute_url}}" type="button" class="btn btn-light">
                    <i class="bi bi-play-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>&nbsp;&nbsp;<span>View Songs</span>
                </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}