{% extends 'music/index.html' %}
{% block content %}

<div class = "container">
  {% for song in songs %}
    <div class="card mb-3 mt-4" style="max-width: 940px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{song.album.album_logo.url}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title" style = "color:green;"><strong>{{song.title}}</strong></h5><br>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-outline-dark" href = "{{song.get_absolute_url}}" type="button" class="btn btn-light">
                  <i class="bi bi-play-fill"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                  </svg>&nbsp;&nbsp;<span>Play</span>
                </a>
              </div>
              <div class="btn-group mr-2 mx-2" role="group" aria-label="Second group">
                <a class="btn btn-outline-dark" href = "{{song.get_absolute_url}}" type="button" class="btn btn-light">
                  <i class="bi bi-hand-thumbs-up-fill"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                  </svg>&nbsp;&nbsp;<span>Vote</span>
                </a>
              </div>
              <div class="btn-group" role="group" aria-label="Third group">
                <form action = "{% url 'add_playlist' %}" method = "POST">
                  {% csrf_token %}
                  <input type = "hidden" name = "song_id" value = {{song.id}}>
                  <button class = "btn btn-outline-dark" type = "submit">
                    <i class="bi bi-file-plus-fill"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
                    </svg>&nbsp;Playlist
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock content %}